.hero {
	min-height: fit-content;
	display: flex;
	align-items: center;
	margin-bottom: 10%;
}

.hero-text {
	display: flex;
	flex-direction: column;
	/* border: 1px solid black; */
	justify-content: center;
	min-height: 60vh;
}

.hero-text button {
	width: 40%;
}

.hero-text h1 {
	font-size: 4rem;
	line-height: 4rem;
}

.hero-text > * {
	margin: 0.5rem 0;
}
