footer {
	display: flex;
	justify-content: space-between;
	padding: 5% 10%;
	background-color: var(--VeryDarkViolet);
	color: var(--white);
}

.menu {
	display: flex;
	justify-content: space-between;
	flex: 1;
	padding: 0 10%;
}

footer li {
	margin-top: 0.5rem;
}
.socials ul {
	display: flex;
}

.socials ul > * {
	margin-left: 1rem;
}

footer a:hover {
	color: var(--Cyan);
}
